{% include 'admin_header.html' %} 
<!-- 
   <a href="work_progress_details">details of ongoing works</a><br>
   <a href="completed_works">completed works</a><br>
   
     -->

     <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title aos-init" data-aos="fade-up">
        <h2>Approved work details</h2>
        <p></p>
      </div><!-- End Section Title -->

      <div class="container">
      

        <div class="row gy-4">
         <div class="col-lg-3 col-md-4 aos-init" data-aos="fade-up" data-aos-delay="100">
            <div class="features-item">
              <i class="bi bi-activity" style="color: #ff5828;"></i>
              <h3><a href="work_progress_details" class="stretched-link">ongoing works requirements</a></h3>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 aos-init" data-aos="fade-up" data-aos-delay="100">
            <div class="features-item">
              <i class="bi bi-activity" style="color: #ff5828;"></i>
              <h3><a href="work_wage_estimation" class="stretched-link">mustroll details</a></h3>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 aos-init" data-aos="fade-up" data-aos-delay="700">
            <div class="features-item">
              <i class="bi bi-x-diamond" style="color: #11dbcf;"></i>
              <h3><a href="completed_works" class="stretched-link">completed works</a></h3>
            </div>
          </div>


          

        </div>

      </div>

    </section>
   {% include 'footer.html' %}