{% include 'overseer_header.html' %}
    <!-- <h1>UPLOAD GEOTAG DETAILS</h1>
    <form action="" method="post">
        <table>
               <tr>
                <th>ward</th>
                <td><input type="text" name="ward"></td>
               <tr>
                <th>description</th>
                <td><textarea name="des"></textarea></td>
                </tr> 
               <tr>
                <th>latitude</th>
                <td><input type="text" name="lat"></td>
                </tr> 
               <tr>
                <th>image</th>
                <td><input type="text" name="img"></td>
                </tr> 
                <tr>
                    <th>longitude</th>
                    <td><input type="text" name="lon"></td>
                </tr> 
                
            </tr>
          
            <tr><td><input type="submit" name="submit"></td></tr>
        </table>

    </form>
     -->


     <section class="vh-100" style="background-color: white;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="static\assets\img\pexels-cottonbro-6889196.jpg"
                      alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
      
                      <form action="" method="post" enctype="multipart/form-data">
                
                        <div class="d-flex align-items-center mb-3 pb-1">
                          <i class="fas fa-cubes fa-2x me-3" style="color: #132287;"></i>

                        </div>
      
                        <h5 class="fw-normal  pb-1" style="letter-spacing: 1px;">Upload Geotag details</h5>
      
                        <div data-mdb-input-init class="form-outline mb-2">
                          <input type="text" id="form2Example17" class="form-control form-control-lg" name="ward" placeholder="ward" required/>
                          <label class="form-label" for="form2Example17">ward</label>
                        </div>
                        <div data-mdb-input-init class="form-outline mb-1">
                            <textarea id="form2Example17" class="form-control form-control-lg" name="des" placeholder="work description" required></textarea>
                            <label class="form-label" for="form2Example17">work description</label>
                          </div>
                          <div data-mdb-input-init class="form-outline mb-2">
                            <input type="text" id="form2Example17" class="form-control form-control-lg" name="lat" placeholder="latitude" required/>
                            <label class="form-label" for="form2Example17">latitude</label>
                          </div>
                          <div data-mdb-input-init class="form-outline mb-2">
                            <input type="text" id="form2Example17" class="form-control form-control-lg" name="lon" placeholder="longitude" required/>
                            <label class="form-label" for="form2Example17">longitude</label>
                          </div>
                          <div data-mdb-input-init class="form-outline mb-2">
                            <input type="file" id="form2Example17" class="form-control form-control-lg" name="img" placeholder="image of work site" required/>
                            <label class="form-label" for="form2Example17">image of site</label>
                          </div>

      
                       
      
                        <div class="pt-1 mb-3">
                          <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-md btn-block" type="submit" name="submit">submit</button>
                        </div>
      
                      
                      </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    {% include 'footer.html' %}