{%include 'public_header.html'%}


<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-lg-last">
            <img src="static\assets\img\logo-no-background.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6  d-flex flex-column justify-content-center">
            <h2>Thozhilurapp Management System</h2>
            <p>A platform for managing nrega thozhilurapp</p>
            <p>
            </p>
            <ul>
              <li><i class="bi bi-check2"></i>All details about nrega thozhilurapp</li>
              <li><i class="bi bi-check2"></i>Manage works</li>
              <li><i class="bi bi-check2"></i>Assign duties</li>
            </ul>
            <p></p>
            <div class="d-flex">
              <a href="login" class="btn-get-started">Get Started</a>
      
            </div>
          </div>
        </div>
      </div>

    </section>
</main>

  

{%include 'footer.html'%}



