{%include 'admin_header.html'%}





      
<section>
  <div class="bg-image h-100" style="background-color: #f5f7fa">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
       
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card shadow-2-strong">
              <div class="card-body p-0">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true"
                  style="position: relative; height: 700px">
                 
                  <form action="" method="post">

  
    
  
 
    <table >
      <tbody>
        <tr>
          <th colspan="2">Confirm To Logout</th>
        </tr>
       
        <tr>
            
           <td align="center"> <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-md btn-block" type="submit" name="confirm" >confirm</button></td>
           
           <td align="center"> <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-md btn-block" type="submit" name="cancel">cancel</button></td>
          
            
            
        </tr>
      
           
      </tbody>
    </table>


</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>



{%include 'footer.html'%}
