{% include 'admin_header.html' %}
<!-- <br>
<h1>manage overseer</h1>
    <a href="overseer_registration">OVERSEER REGISTRATION</a><br>
    <a href="overseer_details">OVERSEER DETAILS</a>
    <br> -->





    <section id="features" class="features section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>MANAGE OVERSEER</h2>
          <p>register and View details of overseer</p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row gy-4">
            <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="100">
                <div class="features-item">
                  <i class="bi bi-brightness-high" style="color: #29cc61;"></i>
                  <h3><a href="overseer_registration" class="stretched-link">Register overseer</a></h3>
                </div>
              </div>
  
            <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="200">
              <div class="features-item">
                <i class="bi bi-eye" style="color: #ffbb2c;"></i>
                <h3><a href="overseer_details" class="stretched-link">View details of overseer</a></h3>
              </div>
            </div><!-- End Feature Item -->
  

  
          </div>
  
        </div>
  
      </section><!-- /Features Section -->
  

    {% include 'footer.html' %}           