{% include 'admin_header.html' %}
<!-- <h1>response to the mates reply</h1>
    <form action="" method="post">

        <table border="1">
            <tr>
                <th>mate_reply</th>
                <th colspan="2">response</th>
             
            </tr>
{%for i in data['response']%}
            <tr>
                <td>{{i['mate_response']}}</td>
                <td><textarea name="response" id=""></textarea></td>
                <td><input type="submit" name="submit"></td>
            </tr>
            {%endfor%}

        </table>
    </form>
     -->

<section>
  <div class="bg-image h-100" style="background-color: #f5f7fa">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <h1>Respond to mates reply</h1>
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card shadow-2-strong">
              <div class="card-body p-0">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true"
                  style="position: relative; height: 700px">
                  <form action="" method="post">
                    <table>
                      <tr>
                        <th></th>
                        <th>mate_reply</th>
                      </tr>
                      <tr></tr>

                      <tr>
                        <td>
                          <textarea name="response" id="" placeholder="enter your response here"></textarea>
                        </td>
                        <td>{{data['response'][0]['mate_response']}}</td>
                      </tr>
                      <tr>
                        <td><input type="submit" name="submit" /></td>
                      </tr>
                    </table>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'footer.html' %}