{% include 'admin_header.html' %}
<!-- {%if data['wage']%}
<h1>approve wage</h1>
    <form action="" method="post">
        <table border="1">
            <tr>
                <th>wage_total</th>
                <th>description</th>
                <th>status</th>
            </tr>
            <tr>
                <td>{{data['wage'][0]['total']}}</td>
                <td><textarea name="description"></textarea></td>
                <td>
                    <input type="radio" name="ar" id="approved" value="approved">approve
                    <input type="radio" name="ar" id="rejected" value="rejected" >reject
                </td>
            </tr>
            <tr>
               <td colspan="3"> <input type="submit" name="submit"></td>
            </tr>
            


        </table>

    </form>

    

   {%else%}
   <h1>wage estimation</h1>
    <table border="1">
<tr>
 
    <th>total wage</th>
    <th>description</th>
    <th>approval status</th>
    <th>overseer response</th>
    
   
</tr>
{%for i in data['est']%}
<tr>
 
    <td>{{i['total']}}</td>
    <td>{{i['description']}}</td>
    <td>{{i['status']}}</td>
    <td>{{i['response']}}</td>
    
    <td><a href="wage_approval?action=update&wage_id={{i['wage_id']}}&work_id={{i['work_id']}}">Approve wage</a></td>
   

    
</tr>
{%endfor%}
{%endif%}

 




    </table> -->



        
    <section class="main">

      
        <div class="bg-image h-100" style="background-color: #f5f7fa;">
          <div class="mask d-flex align-items-center h-100">
            <div class="container">
                {%if data['wage']%}
<h1>approve wage</h1>
    <form action="" method="post">
        <table border="3">
            <tr>
                <th>wage_total</th>
                <th>description</th>
                <th>status</th>
            </tr>
            <tr>
                <td>{{data['wage'][0]['total']}}</td>
                <td><textarea name="description"></textarea></td>
                <td>
                    <input type="radio" name="ar" id="approved" value="approved">approve
                    <input type="radio" name="ar" id="rejected" value="rejected" >reject
                </td>
            </tr>
            <tr>
               <td colspan="3"> <input type="submit" name="submit"></td>
            </tr>
            


        </table>

    </form>
{%else%}
            
  
               
            
                <h1>completed work overall wage </h1>
              <div class="row justify-content-center">
                <div class="col-12">
                  <div class="card shadow-2-strong">
                    <div class="card-body p-0">
                      
                      <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                   
                        <table class="table table-dark mb-0">
                          <thead style="background-color: #140202;">
                            <tr class="text-uppercase text-success">
                                <th scope="col">estimated total wage</th>
                               
                                <!-- <th scope="col">approval status</th> -->
                                <th scope="col">overseer response</th>
                              
                             
                    
                             
                            </tr>
                          </thead>
                          <tbody>
                            {%for i in data['est']%}
                            <tr>
                            
                                <td>{{i['total']}}</td>
                               
                                <!-- <td>{{i['status']}}</td> -->
                                <td>{{i['response']}}</td>
                                
                                <!-- <td><a href="wage_approval?action=update&wage_id={{i['wage_id']}}&work_id={{i['work_id']}}">Approve wage</a></td> -->
                            

                                
                            </tr>
                            {%endfor%}
  
                           
                          </tbody>
                        </table>
                        {%endif%}
                         
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </section>
      



    
    {% include 'footer.html' %}