{% include 'admin_header.html' %}
    <!-- <h1>work details</h1>
    <a href="estimated_works">estimated work_details</a><br>
    <a href="accident_report">accident report</a><br>
   
    <a href="duty_report">Approved_work_details</a><br> -->


    <section id="features" class="features section">

        <!-- Section Title -->
      
  
        <div class="container">
        
  
          <div class="row gy-4">

            <div class="container section-title aos-init" data-aos="fade-up">
                <h2>work details</h2>
  
              </div>
      
              
             
            <div class="col-lg-3 col-md-4 aos-init" data-aos="fade-up" data-aos-delay="100">
                <div class="features-item">
                  <i class="bi bi-command" style="color: #b2904f;"></i>
                  <h3><a href="estimated_works" class="stretched-link">Estimated works</a></h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 aos-init" data-aos="fade-up" data-aos-delay="200">
                <div class="features-item">
                  <i class="bi bi-nut" style="color: #e361ff;"></i>
                  <h3><a href="accident_report" class="stretched-link">Accident report</a></h3>
                </div>
              </div>
          
            <div class="col-lg-3 col-md-4 aos-init" data-aos="fade-up" data-aos-delay="300">
                <div class="features-item">
                  <i class="bi bi-star" style="color: #ffa76e;"></i>
                  <h3><a href="duty_report" class="stretched-link">Approved work details</a></h3>
                </div>
              </div>
  
        
  
          </div>
  
        </div>
  
      </section>
    

    {% include 'footer.html' %}