{% include 'admin_header.html' %}
<!-- <h1>manage workers</h1>
    <a href="view_wc">view workers</a><br>
    
    <a href="request_add">view request to add new member</a>
     -->


     

     <section id="features" class="features section">

  
      <div class="container section-title aos-init" data-aos="fade-up">
        <h2>worker details and member requests</h2>
        <p>view worker details and requests for adding new member to the worker card</p>
      </div>

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-4 aos-init" data-aos="fade-up" data-aos-delay="100">
            <div class="features-item">
              <i class="bi bi-eye" style="color: #ffbb2c;"></i>
              <h3><a href="registration_approval" class="stretched-link">Verify Worker Registration</a></h3>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 aos-init" data-aos="fade-up" data-aos-delay="100">
            <div class="features-item">
              <i class="bi bi-eye" style="color: #ffbb2c;"></i>
              <h3><a href="view_wc" class="stretched-link">view worker details</a></h3>
            </div>
          </div>

        


          <div class="col-lg-3 col-md-4 aos-init" data-aos="fade-up" data-aos-delay="400">
            <div class="features-item">
              <i class="bi bi-nut" style="color: #e361ff;"></i>
              <h3><a href="request_add" class="stretched-link">view requests to add new member</a></h3>
            </div>
          </div>

         

        </div>

      </div>

    </section>

    {% include 'footer.html' %}